* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-header {
	background-color: #4da1ff;
	background-image: url('../img/pattern.png');
	padding-top: 30px;
	background-size: 345px;
}
.logo{
    width: 200px;
}
.sfondo-head-pattern {
    width: 250px; 
    height: 200px;   
    background-repeat: repeat-x;
}
.text-blue{
    color: #007fff;
}

h5{
    font-style: italic;
   
}
.presentazione{
    margin-left: 10px;
}
.img-presentazione {
    margin-top: 20px;
    margin-left: 5px;
}

 .article__title { 
        font-size: 48px;
}
    
.article-author {
        font-style: normal;
        color: #888888;
        font-size: 20px;    
}

.article-author span {
	color: #4da1ff;
}

.info-foto{
    font-size: 15px;
    font-style: italic;
    margin-left: 5px;
    margin-top: 0;
}
.testo-evidenziato{
    margin-left:  5px;
    margin-top: 15px;
    margin-bottom: 30px;
}
ul{
    margin-left: 20px;
}

.tabella {
    margin-left: 15px;
    margin-top: 20px;
    border-collapse: collapse;  
}

 .riga-1{   
    width: 100px;
    height: 20px;
 }   

.intestazione-tabella{
    background-color:  #4b98e5;
    color: white;
    width: 5%;
}

.riga-azzurra{
    background-color: #72bcea ;
}

.paragrafo-main {
    margin-top: 20px;
    margin-left: 10px;
}

.related-articles {
	list-style: none;
	padding: 0;
}

.article-card {
	 background-color: #888888; 
	width: 200px;
	height: 160px;
	color: white;
	padding: 5px;
}

.bg-monitor {
	/* background-image: url('../img/monitor.jpg'); */
}

.bg-graph {
	background-image: url('../img/graph.jpg');
}